<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Team9 - COMP90024PROJECT2</title>

  <!-- Favicons -->
  <link href="img/teamlogo.png" rel="icon">
  <link href="img/teamlogo.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="lib/gritter/css/jquery.gritter.css" />
  <!-- Custom styles for this template -->
  <link href="css/style_map.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet">
  <script src="lib/chart-master/Chart.js"></script>
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />

  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="index.html" class="logo"><b>COMP90024<span>Project2</span></b></a>
      <!--logo end-->
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="login.html">Logout</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="index.html" class="logo"><b>COMP90024<span>Project2</span></b></a>
      <!--logo end-->
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="login.html">Logout</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><img src="img/teamlogo.png" class="img-circle" width="80"></a></p>
          <h5 class="centered">Team 9</h5>
          <li class="mt">
            <a href="index.html">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
            </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-book"></i>
              <span>Team Members</span>
              </a>
            <ul class="sub">
              <li><a href="profile.html">Profile</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a class="active" href="javascript:;">
              <i class="fa fa-desktop"></i>
              <span>Scenarios</span>
              </a>
            <ul class="sub">
              <li><a href="Scenario1.html">Scenario 1</a></li>
            </ul>
            <ul class="sub">
              <li><a href="Scenario2.html">Scenario 2</a></li>
            </ul>
            <ul class="sub">
              <li class="active"><a href="Scenario3.html">Scenario 3</a></li>
            </ul>
          </li>
        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
        <section class="wrapper site-min-height">
          <h3><i class="fa fa-angle-right"></i>Scenario 3</h3>
          <div class="row content-panel mt mb">
            <div class="col-md-6">
              <h2 contenteditable="true">Introduction</h2>
            </div>
            <div class="col-md-6">
              <p contenteditable="true" class="mt">Later, when we reached the city, and glanced down the chief avenue, smouldering in its crushed-strawberry tint, those splendid effects were repeated; for every balcony, and every fanciful bird-cage of a snuggery countersunk in the house-fronts,
                and all the long lines of roofs were crowded with people, and each crowd was an explosion of brilliant color.</p>
              <p contenteditable="true">For color, and picturesqueness, and novelty, and outlandishness, and sustained interest and fascination, it was the most satisfying show I had ever seen, and I suppose I shall not have the privilege of looking upon its like again.</p>
  
            </div>
          </div>
          <div class="mt"></div>
          <div class="row content-panel mt mb">
            <div class="col-md-6">
              <h2 contenteditable="true">Hypothesis</h2>
            </div>
            <div class="col-md-6">
              <p contenteditable="true" class="mt">For the 11 suburbs in the city of Melbourne, the number of recruitment tweets about real estate is positively correlated with the number of real estate employment from AURIN.</p>
            </div>
          </div>
          
          <div class="row mt">
            <div class="col-sm-12">
              <section class="panel">
                <header class="panel-heading">
                  Map with Loaction List and corresponding Population
                </header>
                <div class="panel-body">
                  <div id="map"></div>
                </div>
              </section>
            </div>
          </div>
  
          <div id="morris">
            <div class="row mt">
              <div class="col-lg-6">
                <div class="content-panel">
                  <h4><i class="fa fa-angle-right"></i> Histogram of the number of different languages are used for tweeting in given suburb</h4>
                  <div class="panel-body">
                    <div id="hero-bar" class="graph"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt">
              <div class="col-lg-6">
                <div class="content-panel">
                  <h4><i class="fa fa-angle-right"></i> Pie chart of the number of people who reached median employment income in each suburb (AURIN) </h4>
                  <div class="panel-body">
                   <div id="hero-donut" class="graph"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt">
              <div class="col-lg-6">
                <div class="content-panel">
                  <h4><i class="fa fa-angle-right"></i> Regression Result </h4>
                  <h4> <center> y=18x+3 </center> </h4>
                  <h4> y =  the number of people who reached median employment income in each suburb</h4>
                  <h4> x = the number of different languages are used for tweeting in given suburb</h4>
                  <div class="panel-body">
                    <div id="hero-graph" class="graph"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row mt">
            <div class="col-lg-6">
              <div class="content-panel">
                <h4><i class="fa fa-angle-right"></i> Regression 2</h4>
                <div class="panel-body">
                  <div id="hero-area" class="graph"></div>
                </div>
              </div>
            </div>
          </div> -->
          
          <div class="mt"></div>
          <div class="row content-panel mt mb">
            <div class="col-md-6 mt">
              <h2 contenteditable="true">Results</h2>
              <blockquote contenteditable="true">A bird sitting on a tree is never afraid of the branch breaking, because her trust is not in the branch, but in her own wings.</blockquote>
            </div>
            <div class="col-md-6 mt">
              <blockquote contenteditable="true">Gossip is started by the insecure, spread by fools, and accepted by idiots. Don't be any of the three.</blockquote>
            </div>
          </div>
        <!-- /MAIN CONTENT -->
        <!--main content end-->
      </section>
    </section>
   
        <!--footer start-->
        <footer class="site-footer">
          <div class="text-center">
            <p>
              &copy; Copyrights <strong>Dashio</strong>. All Rights Reserved
            </p>
            <div class="credits">
              <!--
                You are NOT allowed to delete the credit link to TemplateMag with free version.
                You can delete the credit link only if you bought the pro version.
                Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
                Licensing information: https://templatemag.com/license/
              -->
              Created with Dashio template by <a href="https://templatemag.com/">TemplateMag</a>
            </div>
            <a href="inline_editor.html#" class="go-top">
              <i class="fa fa-angle-up"></i>
              </a>
          </div>
        </footer>
        <!--footer end-->
    </section>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
    <script src="lib/jquery.scrollTo.min.js"></script>
    <script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
    <!--common script for all pages-->
    <script src="lib/common-scripts.js"></script>
    <!--script for this page-->
    <script src="lib/ckeditor/ckeditor.js"></script>
     <!-- Third-party Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
    <script src="lib/morris-conf3.js"></script>
    <script src="lib/raphael/raphael.min.js"></script>
    <script src="lib/morris/morris.min.js"></script>
  
  
      <!-- Main -->
      <!-- <main class="pt-2">
          <div class="container">
              <div id="map"></div>
          </div>
      </main> -->
  
      <script>
mapboxgl.accessToken = 'pk.eyJ1IjoiamFzbXluenoiLCJhIjoiY2wyOGs3c24yMGE2NjNjcjRuanhnZnFwNyJ9.VbndD4nH-NUhv00plSB13w';
        
        const geojson = {
    "type": "FeatureCollection",
    "features": [
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    144.970,
                    -37.780
                ]
            },
            "type": "Feature",
            "properties": {
                "description": "Population: 18,535 ",
                "marker-symbol": "rail-metro",
                "title": "Carlton",
                "url": "https://en.wikipedia.org/wiki/Carlton,_Victoria",
                "lines": [
                    "Green"
                ],
                "address": "Carlton, VIC"
            }
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    144.950,
                    -37.810
                ]
            },
            "type": "Feature",
            "properties": {
                "description": "Population: 10,964",
                "marker-symbol": "rail-metro",
                "title": "Docklands",
                "url": "https://en.wikipedia.org/wiki/Docklands,_Victoria7",
                "lines": [
                    "Green"
                ],
                "address": "Docklands, VIC"
            }
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    144.990,
                    -37.820
                ]
            },
            "type": "Feature",
            "properties": {
                "description": "Population: 4,964",
                "marker-symbol": "rail-metro",
                "title": "East Melbourne",
                "url": "https://en.wikipedia.org/wiki/East_Melbourne,_Victoria",
                "lines": [
                    "Green"
                ],
                "address": "East Melbourne, VIC"
            }
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    144.930,
                    -37.790
                ]
            },
            "type": "Feature",
            "properties": {
                "description": "Population: 10,812",
                "marker-symbol": "rail-metro",
                "title": "Kensington",
                "url": "https://en.wikipedia.org/wiki/Kensington,_Victoria",
                "lines": [
                    "Green"
                ],
                "address": "Kensington, VIC"
            }
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    144.770,
                    -38.370
                ]
            },
            "type": "Feature",
            "properties": {
                "description": "Population: 135,959",
                "marker-symbol": "rail-metro",
                "title": "Melbourne",
                "url": "https://www.melbourne.vic.gov.au/about-melbourne/melbourne-profile/suburbs/pages/melbourne.aspx",
                "lines": [
                    "Orange"
                ],
                "address": "Melbourne, VIC"
            }
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    145.060,
                    -37.910
                ]
            },
            "type": "Feature",
            "properties": {
                "description": "Population: 14,940",
                "marker-symbol": "rail-metro",
                "title": "North Melbourne",
                "url": "https://en.wikipedia.org/wiki/North_Melbourne,_Victoria",
                "lines": [
                    "Orange"
                ],
                "address": "North Melbourne, VIC"
            }
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    144.960,
                    -37.800
                ]
            },
            "type": "Feature",
            "properties": {
                "description": "Population: 7,409",
                "marker-symbol": "rail-metro",
                "title": "Parkville",
                "url": "https://en.wikipedia.org/wiki/Parkville,_Victoria",
                "lines": [
                    "Orange"
                ],
                "address": "Parkville, VIC"
            }
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    144.890,
                    -37.850
                ]
            },
            "type": "Feature",
            "properties": {
                "description": "Population: 16,175",
                "marker-symbol": "rail-metro",
                "title": "Port Melbourne",
                "url": "https://en.wikipedia.org/wiki/Port_Melbourne,_Victoria",
                "lines": [
                    "Orange"
                ],
                "address": "Port Melbourne, VIC"
            }
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    144.970,
                    -37.820
                ]
            },
            "type": "Feature",
            "properties": {
                "description": "Population: 18,709",
                "marker-symbol": "rail-metro",
                "title": "Southbank",
                "url": "https://en.wikipedia.org/wiki/Southbank,_Victoria",
                "lines": [
                    "Orange"
                ],
                "address": "Southbank, VIC"
            }
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    144.060,
                    -36.990
                ]
            },
            "type": "Feature",
            "properties": {
                "description": "Population: 24,171",
                "marker-symbol": "rail-metro",
                "title": "South Yarra",
                "url": "https://en.wikipedia.org/wiki/South_Yarra,_Victoria",
                "lines": [
                    "Orange"
                ],
                "address": "South Yarra, VIC"
            }
        },
        {
            "geometry": {
                "type": "Point",
                "coordinates": [
                    144.930,
                    -37.790
                ]
            },
            "type": "Feature",
            "properties": {
                "description": "Population: 7,719",
                "marker-symbol": "rail-metro",
                "title": "Flemington",
                "url": "https://en.wikipedia.org/wiki/Flemington,_Victoria",
                "lines": [
                    "Orange"
                ],
                "address": "Flemington, VIC"
            }
         }
      ]
     }
        
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/jasmynzz/cl290kwip000r15nmrde2lsz4',
            center: [144.9631, -37.8136], // Longitude, Latitude of Melbourne
            zoom: 7
        });
        
        // add markers to map
        for (const feature of geojson.features) {
            // create a HTML element for each feature
            const el = document.createElement('div');
            el.className = 'marker';
 
            // make a marker for each feature and add it to the map
            new mapboxgl.Marker(el)
              .setLngLat(feature.geometry.coordinates)
              .setPopup(
               new mapboxgl.Popup({ offset: 25 }) // add popups
                .setHTML(
                  `<h3>${feature.properties.title}</h3><p>${feature.properties.description}</p>`
               )
              )
              .addTo(map);
            }
  
      </script>
  
  </body>
  
  </html>
  